$white: #ffffff;
$light-gray: #ebebeb;
$gray44: #707070;
$suvagrey: #8d8d8d;
$gray92: #ebebeb;
$gray2: #050505;
$black: #000000;
$azul: #1d6ae5;
$davysgrey: #535353;
$matterhorn: #4c4c4c;
$trollygrey: #808080;
$gray80: #cccccc;
$grey: #767676;
$brownish-grey: #666666;
$gray36: #5c5c5c;
$whitesmoke:#f4f4f4;
$charcoal:#414141;

// table
$table-header: #ededed;
$text-table-header: #4a4a4a;
$table-striped: #f7f7f7;

$pagination-color: #dddddd;
$pagination-text-color: #6e6e6e;

//font
$Avenir: "Avenir";
$Avenir-Roman-12: "Avenir-Roman-12";
$HelveticaNeue: "HelveticaNeue";
$Avenir-Roman: "Avenir Roman";
$NunitoSans: "Nunito Sans";
