<div class="row login-container">
    <div class="col-6 login-left"></div>
    <div class="col-6">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <form class="col-offset-3 col-9">
                    <div class="form-group login-header">
                        Welcome to the TPO Portal
                    </div>
                    <div class="form-group subcontent">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo vitae sem nec vestibulum.
                        Cras nec maximus felis. Nullam a lacus dapibus, varius sem ac, cursus enim.
                    </div>
                    <div class="form-group please-sign-in">
                        Please Sign In
                    </div>
                    <div class="form-group user-id">
                        User Id
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-text">
                    </div>
                    <div class="form-group password">
                        Password
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-text">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-grey" (click)="goToMyLoan()">
                            Sign In
                        </button>
                    </div>
                    <div class="form-group div-forgot-password">
                        <a name="btnpassword" class="forgot-password" role="button">Forgot
                            Password?</a>
                    </div>
                    <div class="form-group brimma-info">
                        <span class="pointer" (click)="goToWebsite()">
                            www.brimmatech.com
                        </span>
                        <span class="welcome-msg mr-1">|</span>
                        <span class="welcome-msg mr-1">Privacy Policy</span>
                        <span class="welcome-msg mr-1">|</span>
                        <span class="welcome-msg">Contact Information</span>
                    </div>
                    <div class="form-group copy-rights">
                        © 2020 Brimma Tech, Inc. All Rights Reserved.
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>